{% extends 'base.html' %}

{% block title %}Games{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>All Games (published in North American) </h1>

            <table class="table game-table">
                <thead>
                <td></td>
                <td style="vertical-align: middle">Title</td>
                <td style="vertical-align: middle">Developer</td>
                <td style="vertical-align: middle">Publisher</td>
                <td style="vertical-align: middle">Release Year</td>
                <td style="vertical-align: middle">Genre(s)</td>
                <td style="vertical-align: middle">Multiplayer Mode</td>
                </thead>
                <tbody>
                {% for game in games: %}

                {% if game.publisher_na != "Unreleased": %}
                <tr>
                    <td  style="width:10%">
                        {% if game.img_url: %}
                        <img style="max-width:100%" src="{{game.img_url}}" alt="">
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle"><a href="{{game.wiki_url}}">{{ game.title }}</a></td>
                    <td style="vertical-align: middle">{{ game.developer }}</td>
                    <td style="vertical-align: middle">{{ game.publisher_na }}</td>
                    <td style="vertical-align: middle">{{ game.release_na }}</td>
                    <td style="vertical-align: middle">{{ game.genre }}</td>
                    <td style="vertical-align: middle">
                        {% if game.multi_support == "1": %}
                        ✅
                        {% endif %}
                    </td>

                </tr>
                {% endif %}
                {% endfor %}
                </tbody>

            </table>

            <p><a href="{{ url_for('home') }}">Return to home page</a></p>

        </div>
    </div>
</div>

{% endblock %}
